---
layout: default
---

<div class="col-md-12">
	<div class="home">
		{% assign page_num_limit = 1 %}
		{% for post in site.posts %}
			<div class="col-md-12 ads">
				<header class="post-header">
					<h1 class="post-title">{{ post.title }}</h1>
					<p class="post-meta">
						{{ post.date | date: "%b %-d, %Y" }}
						{% if post.author %}
							• {{ post.author }}
						{% endif %}
						{% if post.meta %}
							• {{ post.meta }}
						{% endif %}
						• <a href="#share">SHARE! <i class="fa fa-share-alt"></i></a>
				</header>
			</div>
			<div class="col-md-12 content">
				<article class="post-content">
					{{ post.content }}
				</article>
			</div>

			<!-- NAVIGATION -->
			<div class="col-md-5">
				{% if post.previous != nil %}
					<a href="{{post.previous.url}}">
						<h2><i class="fa fa-arrow-left"></i>&nbsp;Previous</h2>
					</a>
				{% else %}
					<h2 style="color: lightgray">
						<i class="fa fa-times"></i>&nbsp;Previous
					</h2>
				{% endif %}
			</div>

			<div class="col-md-2">
			</div>

			<div class="col-md-5">
			</div>
			<!-- /NAVIGATION -->


			<div class="col-md-12 content">
				<hr>
				<a name="share"></a>
				{% include social.html %}
				<hr>
			</div>


			{% if forloop.index == page_num_limit %}
				{% break %}
			{% endif %}
		{% endfor %}
	</div>
</div>
