	<nav id="body-nav" class="col-md-12">
		<ul class="col-md-10 col-xs-10 col-sm-10">
			{% include menu.html %}
		</ul>
	</nav>
	<header>
		<div class="row">
			<div class="col-md-5 col-xs-8 col-sm-8">
				<table cellspacing="2"><tbody>
				<tr>
					<td>
						<img width="60" src="/images/barely_logo.svg" alt="logo">
					</td>
					<td>
						<a href="/"><h3>{{ site.title }}</h3></a>
						Keep It Simple Stupid!
					</td>
				</tr></tbody></table>

			</div>
			<div class="col-md-1 col-md-offset-1 col-xs-4 col-sm-4">
				<div class="menu_button site-wrap hidden-md hidden-lg">
					<div class="site-wrap">
						<a href="#" class="toggle-nav">
							<span class="option">
								MENU
								<span style="font-size: 100%;">&#9776;</span>
							</span>
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-xs-12 col-sm-12 searchbox">
				<center>
					<script type="text/javascript">
					(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
					(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
					e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
					})(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

					_st('install','qDdFobvs94M3tMiFAyfx','2.0.0');
					</script>
					<input type="text" width="100%" class="st-default-search-input">
				</center>
			</div>

			<div class="col-md-2 hidden-md hidden-sm">
				<!--
					<form class="form-inline">
						<div class="form-group">
							<label class="sr-only" for="query">Email address</label>
							<input type="search" class="form-control" id="query" placeholder="Search Google">
						</div>
						<button type="submit" class="btn btn-default">Search</button>
					</form>
				-->
			</div>
		</div>
	</header>
