


	<header class="main">
		<div class="row">
			<div class="col-md-2 col-xs-8 col-sm-8">
				<a href="/">{{ site.title }}</a>
				<br>
				Keep It Simple Stupid!
			</div>
			<div class="col-md-4 col-md-offset-1 col-xs-4 col-sm-4">
				<div class="menu_button hidden-md hidden-lg">
					<a href="#menu">MENU <span style="font-size: 100%;">&#9776;</span></a>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-12 searchbox">
				<center>
					<script type="text/javascript">
					(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
					(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
					e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
					})(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

					_st('install','qDdFobvs94M3tMiFAyfx','2.0.0');
					</script>
					<input type="text" width="100%" class="st-default-search-input">
				</center>
			</div>

			<div class="col-md-2 hidden-md hidden-sm">
				<!--
					<form class="form-inline">
						<div class="form-group">
							<label class="sr-only" for="query">Email address</label>
							<input type="search" class="form-control" id="query" placeholder="Search Google">
						</div>
						<button type="submit" class="btn btn-default">Search</button>
					</form>
				-->
			</div>
		</div>
	</header>
