<p style="align: right">
	<a href="{{ "/feed.xml" | prepend: site.baseurl }}">
		<i class="fa fa-rss fa-2x"></i>
	</a>
	&nbsp;
	<a href="https://www.facebook.com/barelyusable">
		<i class="fa fa-facebook fa-2x"></i>
	</a>
	&nbsp;
	<a href="https://twitter.com/barelyusable">
		<i class="fa fa-twitter fa-2x"></i>
	</a>
	&nbsp;
	<a href="https://www.pinterest.com/barelyusable/">
		<i class="fa fa-pinterest-p fa-2x"></i>
	</a>
	&nbsp;
	<a href="https://www.linkedin.com/company/barelyusable">
		<i class="fa fa-linkedin fa-2x"></i>
	</a>
	&nbsp;
	<a href="https://www.reddit.com/user/barelyusable/">
		<i class="fa fa-reddit fa-2x"></i>
	</a>
	&nbsp;
	<a href="https://news.ycombinator.com/user?id=barelyusable">
		<i class="fa fa-hacker-news fa-2x"></i>
	</a>
	&nbsp;
	<a href="https://www.youtube.com/channel/UCH28zvX3YgI2ZvAO9zjdRpg">
		<i class="fa fa-youtube fa-2x"></i>
	</a>
	&nbsp;
	<a href="http://tumblr.barelyusable.com/">
		<i class="fa fa-tumblr fa-2x"></i>
	</a>
	&nbsp;
	<a href="https://instagram.com/barelyusable">
		<i class="fa fa-instagram fa-2x"></i>
	</a>
</p>
