<div class="row">
	<div class="social col-lg-4">
		<a href="{{ "/feed.xml" | prepend: site.baseurl }}">
			<i class="fa fa-rss-square fa-2x">&nbsp;RSS</i>
		</a>
	</div>

	<div class="social col-lg-4">
		&nbsp;
	</div>

	<div class="social col-lg-4">
		<a href="mailto:contact@barelyusable.com">
			<i class="fa fa-envelope fa-2x">&nbsp;E-mail</i>
		</a>
	</div>

	<div class="social col-lg-4">
		<a href="https://www.facebook.com/barelyusable">
			<i class="fa fa-facebook-square fa-2x">&nbsp;Facebook</i>
		</a>
	</div>
	<div class="social col-lg-4">
		<a href="https://twitter.com/barelyusable">
			<i class="fa fa-twitter-square fa-2x">&nbsp;Twitter</i>
		</a>
	</div>
	<div class="social col-lg-4">
		<a href="https://www.pinterest.com/barelyusable/">
			<i class="fa fa-pinterest-square fa-2x">&nbsp;Pinterest</i>
		</a>
	</div>
	<div class="social col-lg-4">
		<a href="https://www.linkedin.com/company/barelyusable">
			<i class="fa fa-linkedin-square fa-2x">&nbsp;LinkedIn</i>
		</a>
	</div>
	<div class="social col-lg-4">
		<a href="https://www.reddit.com/user/barelyusable/">
			<i class="fa fa-reddit-square fa-2x">&nbsp;Reddit</i>
		</a>
	</div>
	<div class="social col-lg-4">
		<a href="https://news.ycombinator.com/user?id=barelyusable">
			<i class="fa fa-hacker-news fa-2x">&nbsp;HackerNews</i>
		</a>
	</div>
	<div class="social col-lg-4">
		<a href="https://www.youtube.com/channel/UCH28zvX3YgI2ZvAO9zjdRpg">
			<i class="fa fa-youtube-square fa-2x">&nbsp;YouTube</i>
		</a>
	</div>
	<div class="social col-lg-4">
		<a href="http://tumblr.barelyusable.com/">
			<i class="fa fa-tumblr-square fa-2x">&nbsp;Tumblr</i>
		</a>
	</div>
	<div class="social col-lg-4">
		<a href="https://instagram.com/barelyusable">
			<i class="fa fa-instagram fa-2x">&nbsp;Instagram</i>
		</a>
	</div>
</div>
