<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		<div class="container">
			{% include header.html %}
			<div class="row">
				<div class="col-md-2 menu hidden-sm hidden-xs">	<!-- left -->
					<div class="row">
						<div class="col-md-12 deck_ads">
						<!--	Once we deserve, small add from Deck Network will show up here
							120x90 -->
						</div>
						<div class="col-md-12 carbon_ads">
						<!--	Once we deserve, small add from Carbon Ads will show up here
							130x100 -->
						</div>
						<div class="col-md-12 menu">
							{% include menu.html %}
							<hr>
							{% include mailchimp.html %}
						</div>
						<div class="col-md-12 statcounter">
							<hr>
							{% include stats.html %}
						</div>
					</div>
				</div>				<!-- /left -->

				<div class="col-md-7 col-md-offset-1 col-sm-12 col-xs-12">	<!-- center -->
					<div class="row">
						{{ content }}
					</div>
				</div>					<!-- /center -->

				<div class="col-md-2 hidden-sm hidden-xs">			<!-- right -->
					<div class="row">
						<div class="col-md-12" style="height: 190px">
						</div>
					</div>
				</div>					<!-- /right -->
			</div>
		</div>	<!-- /container -->
		{% include footer.html %}
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-62218695-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>
