<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		<div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default site-nav">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>




			{% include header.html %}
			<div class="row">
				<div class="col-md-2 menu">	<!-- left -->
					<div class="row hidden-sm hidden-xs">
						<div class="col-md-12 ads" style="height: 90px; color: white;">
						<!--	Once we deserve, small add from Deck Network will show up here
							120x90 -->
						</div>
						<div class="col-md-12 ads" style="height: 100px; color: white;">
						<!--	Once we deserve, small add from Carbon Ads will show up here
							130x100 -->
						</div>
						<div class="col-md-12 menu">
							<a href="about/">ABOUT</a><br>
							<a href="archives/">ARCHIVES</a><br>
							<a href="contributing/">CONTRIBUTE</a><br>
							<a href="http://feeds.feedburner.com/barelyusable">RSS FEED</a><br>
							<hr>
							{% include mailchimp.html %}
						</div>
					</div>
				</div>				<!-- /left -->

				<div class="col-md-7 col-md-offset-1">	<!-- center -->
					<div class="row">
						{{ content }}
					</div>
				</div>					<!-- /center -->

				<div class="col-md-2">			<!-- right -->
					<div class="row">
						<div class="col-md-12" style="height: 190px">
						</div>
					</div>
				</div>					<!-- /right -->
			</div>
		</div>	<!-- /container -->
		{% include footer.html %}
	</body>
</html>
