<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		<div class="container">
			{% include header.html %}
			<div class="row">
				<div class="col-sm-2">
					<a href="about/">About</a>
					<a href="contributing/">Contributing</a>
					<a href="http://feeds.feedburner.com/barelyusable">RSS feed</a>

					<hr>
					{% include mailchimp.html %}
				</div>
				<div class="col-sm-6 col-md-offset-1">
					{{ content }}
				</div>
				<div class="col-sm-3">
				</div>
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>
