---
layout: default
---

<div class="col-md-12 ads">
	<header class="post-header">
		<h1 class="post-title">{{ page.title }}</h1>
		<p class="post-meta">
			{{ page.date | date: "%b %-d, %Y" }}
			{% if page.author %}
				• <a href="{{ page.authpage }}">{{ page.author }}</a>
			{% endif %}
			{% if page.meta %}
				• {{ page.meta }}
			{% endif %}
			• <a href="#share">SHARE! <i class="fa fa-share-alt"></i></a>

			<!-- Go to www.addthis.com/dashboard to customize your tools -->
			<div class="addthis_sharing_toolbox"></div>
		</p>
	</header>
</div>
<div class="col-md-12 content">
	<article class="post-content">
		{{ content }}
	</article>
</div>

<div class="col-md-5 nav-prev">
	{% if page.previous != nil %}
		<a href="{{page.previous.url}}">
			<!--
			<h2><i class="fa fa-arrow-left"></i>&nbsp;Previous</h2>
			-->
			<h2>Previous</h2>
		</a>
		</i>{{page.previous.title}}</i>
	{% else %}
		<h2 style="color: lightgray">
			<i class="fa fa-times"></i>&nbsp;Previous
		</h2>
	{% endif %}
</div>

<div class="col-md-2">
</div>

<div class="col-md-5 nav-next">
	{% if page.next != nil %}
		<a href="{{page.next.url}}">
			<h2>Next</h2>
			<!-- &nbsp;<i class="fa fa-arrow-right"></i></h2> -->
			</i>{{page.next.title}}</i>
		</a>
	{% else %}
		<h2 style="color: lightgray">
			Next&nbsp;<i class="fa fa-times"></i>
		</h2>
	{% endif %}
</div>

<div class="col-md-12 content">
	<hr>
	<a name="share"></a>
	{% include disqus.html %}
	{% include social.html %}
	<hr>
</div>
